  h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
    padding: 20px;
    background-color: #f9cabe;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  body {
    background-color: #c1eec1;
  }

  h3 {
    
      
  
  }